body {
    background-color:#3aafa9;
}

#map {
        height: 75vh;
        width: 100%;
       }

/* Reduce the map height for screen width > 1400px in landscape mode (Moto G4), to show status text   */
@media(min-width: 1400px) {
    #map {
        height:65vh;
    }
}


.map-container{
        overflow:scroll;
        padding-top:1%;
        position:fixed;
        height:0;
}

/* ADJUST NAVBAR LOGO AND BUTTON */
#logo {
    width:25px;
    height:25px;
    vertical-align: top;
     alt: "";
}
.navbar {
    color:black;
    height:11vh;
}

.navbar-brand {
    width:33vw;
    font-size:20px;
    font-weight: bold;
    text-align:left;
}

.navbar-title {
    font-size:1em;
    text-align:left;
}



/* .navbar-text {
        color: #3aafa9;
        font-size:1em;
        text-align:center;
        width:33vw;
} */

.navbar-light .navbar-nav .nav-link {
    color: #3aafa9;
    /* MAKE BACKGROUND OF NAVBAR ITEMS TRANSPARENT */
    /* background-color: transparent; */
}

#settings {
        color: black;
        font-size:1.5em;
        text-align:right;
        width:33vw;
}

#settings i {
        vertical-align: center;

}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 70%; 
  height: 70%; 
  overflow:auto;
  background-color:black; 

}


.modal-content {
  background-color: black;
  color:#3aafa9;
  padding: 5px;
  width: 100%;
  height: 70%; 
}

.modal-footer {
  background-color: black;
  color:#3aafa9;  
  padding: 20px;
  width: 100%;
  height: 30%; 
}

#modal_title {
    text-align: center;
    font-weight: bold;
    margin-top: -5px;
    font-size: 20px;
}

#settings_text {
    text-align: center;
    font-weight: bold;
    color:#3aafa9;
 
}

#cancel {
  color:black;
  background-color:#ac2525;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

#cancel:hover,
#cancel:focus {
  background-color:#fd0404;
  text-decoration: none;
  cursor: pointer;
}

#save {
  color:black;
  background-color:#138f34;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

#save:hover,
#save:focus {
  background-color:#07f747;
  text-decoration: none;
  cursor: pointer;
}

#blink_speed {
    width: 13%;
}

#status_text {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}