#map {
        height: 70vh;
        width: 100%;
       }


.map-container{
        overflow:scroll;
        padding-top:1%;
        position:fixed;
        height:0;
}

/* ADJUST NAVBAR LOGO AND BUTTON */
#logo {
    width:15%;
    height:15%;
    vertical-align: top;
     alt: "";
}
.navbar {

    height:11vh;
}

.navbar-brand {
    width:33vw;
    font-size:1em;
    text-align:left;
}



/* .navbar-text {
        color: #3aafa9;
        font-size:1em;
        text-align:center;
        width:33vw;
} */

.navbar-light .navbar-nav .nav-link {
    color: #3aafa9;
    /* MAKE BACKGROUND OF NAVBAR ITEMS TRANSPARENT */
    /* background-color: transparent; */
}

#settings {
        color: #3aafa9;
        font-size:1.5em;
        text-align:right;
        width:33vw;
}

#settings i {
        vertical-align: top;

}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; 
  height: 50%; 
  overflow: auto; /* Enable scroll if needed */
  background-color:#3aafa9; /* Fallback color */

}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}